.zoomable-image {
  max-width: 300px; /* Ensure image doesn't exceed its container */
  max-height: 250px; /* Limit image height to 400px */
  width: auto; /* Allow image to scale with container */
  height: auto; /* Allow image to scale with container */
  transition: transform 0.3s ease; /* Smooth transition */
}

.zoomable-image:hover {
  transform: scale(1.2); /* Zoom effect on hover */
}
  
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure table doesn't exceed screen width */
  }
  
  table {
    width: 100%; /* Ensure table fills its container */
    table-layout: auto; /* Allow table to adjust based on content */
  }
  
  .body-container {
    margin-top: 1px;
    box-sizing: border-box;
    border: 4px solid green;
    padding: 10px; /* Add padding for spacing */
  }
  
  
  .mat-header-cell {
    padding: 10px;
    font-weight: bold;
  }
  
  .mat-cell {
    padding: 10px;
  }
  
  .mat-sort-header {
    cursor: pointer;
    font-weight: bold;
  
  }
  
  

  // Modifying the dialog using ng::deep

  ::ng-deep .modal-header {
    padding: 1rem;
    background-color: #f0f0f0;
  }
  
  ::ng-deep .modal-body {
    padding: 1rem;
  }